/* CSS Document */

@charset "UTF-8";

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


body {
    font-size: 16px;
    background-color: #ffffff;
}

header {
    height: 80px;
    background: rgb(229, 187, 18);
    color: #000;
    padding-top: 8px;
}

main {
    min-height: 80vh;
    background: #fff;
}

.topo {
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

footer {
    height: 120px;
    background: #000;
    color: #fff;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.logo {
    margin-left: 10px;
    display: inline;
    background-image: url("./../img/logotipo.png");
    background-size: cover;
    width: 140px;
    height: 60px;
}

.nav-bar div {
    flex: 2;
    text-align: left;
    margin-top: 0px;
    margin-left: 10px;
}


.nav-bar ul {
    flex: 4;
    text-align: right;
    margin: 10px 0;
    margin-right: 20px;
}

.nav-bar ul li {
    display: inline;
}

.nav-bar ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    margin: 0 3px;
    color: rgb(72, 70, 70);
}

.nav-bar ul li a:hover {
    background-color: white;
    border-radius: 20px;
}

.div-filtro {
    margin: 20px 40px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.div-filtro ul li {
    display: inline-block;
}

.div-filtro ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(72, 70, 70);
    width: 100px;
}

.div-filtro ul li a:hover {
    background: rgb(229, 187, 18);
    border-radius: 30px;
}

.div-filtro ul li a span {
    display: block;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.card-pacote {
    width: 280px;
    height: 360px;
   /* border: 1px solid red;*/
    margin: 20px;
}

.card-pacote li {
    display: block;
    list-style: none;
    margin-bottom: 6px;
}

/*avaliacao*/
.card-pacote li a {
    display: inline;
    padding: 1px;
    text-decoration: none;
    color: rgb(72, 70, 70);
    width: 4px;
    height: 4px;
}

/* titulo*/
.card-pacote li a:nth-child(3){
    overflow: hidden;
    max-height: 4px;
    color: rgb(72, 70, 70);
}

/* valor */
.card-pacote li a:nth-child(4){
    font-size: 1em;
    color: #000;
}

.card-pacote li img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.div-pacotes {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 30px;
    /*border: 1px solid green;*/
}

/*Sobre a empresa*/
.card-sobre {
    display: flex;
    width: 300px;
    height: 200px;
    margin: 60px;
    border: 1px solid rgb(72, 70, 70);
    border-radius: 25px;
}

.card-sobre li{
    display: flex;
    list-style: none;
    margin-bottom: 6px;
}

.card-sobre li img {
    display: inline-block;
    margin-top: 2px;
    height: 195px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid green;
}

.card-sobre h2{
    display: block;
    color: rgb(43, 38, 38);
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    height: 50px;
    border: 1px solid green;
}

.card-sobre p{
    display: block;
    color: rgb(72, 70, 70);
    font-size: 14px;
    text-align: center;
    border: 1px solid #000;
}

.div-sobre {    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 30px;
    border: 1px solid green;
}


/*Responsivo*/
@media screen and (max-width: 500px) {
    .card-pacote {
        margin: 10px auto;
        width: 360px;
    }

    .card-pacote li img {
        max-width: 100%;
    }

    .nav-bar ul {
        display: none;
    }
}
